#courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 60px 2%;
}

.container-courses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.item-courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  width: 250px;
}

.item-courses h2 {
  color: #929298;
}

.container-icon {
  background-image: linear-gradient(to right, #ba9543, #efcf89, #ba9543);
  padding: 70px;
  border-radius: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
}

.container-icon i {
  font-size: 3rem;
  color: white;
}

.container-courses h2 {
  text-align: center;
  margin-bottom: 20px;
}

.description-courses {
  line-height: 1.8rem;
  font-size: 1rem;
  text-align: justify;
  text-indent: 1.5em;
  margin-bottom: 1rem;
}

.button-container {
  justify-self: self-end;
}
