@import url("HeroSection.css");
@import url("Navbar.css");
@import url("Footer.css");
@import url("Description.css");
@import url("Courses.css");
@import url("Gallery.css");
@import url("Trainings.css");
@import url("Form.css");

.prueba {
  border: 1px solid blue;
}

body {
  background-color: rgb(235, 235, 235);
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
