@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: playlist;
  src: url(components/assets/fonts/Playlist\ Script.otf);
}

.prueba {
  border: 1px solid blue;
}

.custom-font {
  font-family: playlist;
}

#badge {
  height: 88vh;
}

.color-text {
  @apply bg-clip-text text-transparent bg-gradient-to-t from-indigo-900 to-blue-700;
}

.p-style {
  @apply text-justify leading-relaxed mb-4;
}

.transitions {
  @apply transition ease-in duration-100;
}

.link-navbar {
  @apply font-bold text-gray-700 border-b-2 p-2;
}

.link-navbar:hover {
  @apply text-blue-800 border-indigo-700;
}

.custom-padding {
  @apply py-20 px-10 md:px-40;
}

.h2 {
  @apply color-text font-bold text-center text-5xl mb-10;
}

.btn-primary {
  @apply bg-gradient-to-t from-indigo-900 to-blue-700 text-white hover:bg-white;
}

.btn-secondary {
  @apply border-2 border-pink-500 text-pink-500 bg-white hover:bg-pink-500 hover:text-white;
}

.item-icon-course {
  @apply bg-gray-100 text-gray-700 p-12 rounded-full mb-4;
}

.card-gradient {
  @apply px-16 py-10 bg-gradient-to-r from-blue-900 to-pink-600 shadow-lg rounded-3xl text-white w-1/2 flex flex-col justify-center items-center;
}
